h1{
    color:rgb(241, 241, 145);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight:bold;
}
p{
    color:rgb(175, 239, 192);
}
ul{
    color:rgb(235, 116, 165);
}